# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/iskconmy/public_html/otp"
PassengerBaseURI "/data"
PassengerNodejs "/home/iskconmy/nodevenv/public_html/otp/12/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/iskconmy/logs/otp.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END